<!-- shop/templates/shop/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>E-Book Store</title>
</head>
<body>
    <h1>Καλώς ήρθατε στο E-Book Store</h1>

    <!-- Link to view the cart -->
    <p><a href="{% url 'view_cart' %}">Δες το καλάθι μου</a></p>

    <!-- Search form -->
    <form action="{% url 'search_book' %}" method="get">
        <input type="text" name="q" placeholder="Αναζήτηση βιβλίου...">
        <button type="submit">Αναζήτηση</button>
    </form>

    <h2>Διαθέσιμα Βιβλία</h2>
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> - {{ book.author }} - {{ book.price }}€
            <!-- Link to add the book to the cart -->
            <a href="{% url 'add_to_cart' book.id %}">Προσθήκη στο καλάθι</a>
        </li>
        {% empty %}
        <li>Δεν υπάρχουν βιβλία.</li>
        {% endfor %}
    </ul>
 {% if books_in_cart %}
    <form action="{% url 'checkout' %}" method="get">
        <button type="submit">Πληρωμή</button>
    </form>
    {% endif %}

    <p><a href="{% url 'home' %}">Συνέχεια αγορών</a></p>
</body>
</html>
